<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link your CSS file -->
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <h1>Your Cart</h2>

    <% if (cart && cart.items.length > 0) { %>
        <section>
            <% cart.items.forEach(item => { %>
                <div>
                    <h3><%= item.bookId.name %></h3>
                    <p><strong>Price:</strong> $<%= item.price.toFixed(2) %></p>
                    <p><strong>Quantity:</strong> <%= item.quantity %></p>
                    <p><strong>Total:</strong> $<%= (item.price * item.quantity).toFixed(2) %></p>

                    <form action="/cart/update" method="POST">
                        <input type="hidden" name="bookId" value="<%= item.bookId._id %>">
                        <input type="number" name="quantity" value="<%= item.quantity %>" min="1">
                        <button type="submit">Update</button>
                    </form>

                    <form action="/cart/remove" method="POST">
                        <input type="hidden" name="bookId" value="<%= item.bookId._id %>">
                        <button type="submit">Remove</button>
                    </form>
                </div>
            <% }) %>
        </section>

        <h3>Total Price: $<%= cart.totalPrice.toFixed(2) %></h3>
        <form action="/checkout" method="GET">
            <button type="submit" class="checkout-btn">Proceed to Checkout</button>
        </form>

    <% } else { %>
        <p>Your cart is empty.</p>
    <% } %>

    <nav class="fixed bottom-0 w-full bg-white shadow-md flex justify-around items-center py-2">
        <ul class="flex p-0 m-0 w-full justify-evenly list-none">
            <li><a href="/books/search">Home</a></li>
            <li><a href="/catalogue">Catalogue</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li>
                <a href="/cart" class="relative">
                    Cart
                    <span id="cart-count" class="absolute hidden -top-1 -right-2 bg-red-500 text-white text-xs py-0.5 px-1.5 rounded-full"><%= cartCount %></span>
                </a>
            </li>
        </ul>
    </nav>

</body>
</html>